body{
margin:0;
font-family:Arial;
background:#0b0f1a;
color:white;
}

.landing{
background:url("/static/bg.jpg");
background-size:cover;
}

.center{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}

.enter{
background:#00ffe0;
padding:15px 30px;
text-decoration:none;
color:black;
font-weight:bold;
}

.login{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:#111;
padding:40px;
}

.dash .top{
background:black;
padding:15px;
display:flex;
justify-content:space-between;
}

.grid{
display:grid;
grid-template-columns:350px 1fr;
height:90vh;
}

.panel{
background:#111;
padding:20px;
}

.card{
padding:10px;
margin:10px 0;
}

.green{background:#00ff99;}
.orange{background:#ffa500;}
.red{background:#ff3b3b;}

#map{
height:100%;
}
