body{
    margin:0;
    font-family:Arial;
    background:#050b18;
    color:#00eaff;
}

.topbar{
    background:#020617;
    padding:20px;
    font-size:24px;
    text-align:center;
    border-bottom:2px solid #00eaff;
}

.grid{
    display:grid;
    grid-template-columns:300px 1fr;
    height:90vh;
}

.panel{
    background:#020617;
    padding:20px;
}

.best{
    font-size:22px;
    color:#00ff88;
    margin-bottom:20px;
}

.card{
    padding:10px;
    margin:10px 0;
    border-radius:8px;
}

.green{background:#003d2f;}
.orange{background:#5a3b00;}
.red{background:#3d0000;}

#map{
    height:100%;
}

/* radar */
#map::after{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    width:300px;
    height:300px;
    border:2px solid rgba(0,255,255,0.3);
    border-radius:50%;
    animation:radar 4s linear infinite;
}

@keyframes radar{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
