<!DOCTYPE html>
<html>
<head>
<title>Traffic AI Control</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body>

<div class="topbar">🚦 AI TRAFFIC COMMAND CENTER</div>

<div class="grid">

<div class="panel">

<h2>BEST ROUTE</h2>
<div class="best">{{best_route}}</div>

<h3>ROUTE STATUS</h3>

{% for name,data in roads.items() %}
<div class="card {{data.color}}">
<b>{{name}}</b><br>
Delay: {{data.delay}} min<br>
AI Prediction: {{data.ai}}
</div>
{% endfor %}

</div>

<div id="map"></div>

</div>

<audio id="beep" src="{{ url_for('static', filename='beep.mp3') }}"></audio>

<script>
var map = L.map('map').setView([-1.28,36.82],11);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

var roads = {{ roads|tojson }};

for (var name in roads){
    var r = roads[name];

    // ROAD MARKER
    L.circleMarker(r.coords,{
        radius:12,
        color:r.color,
        fillColor:r.color,
        fillOpacity:0.9
    }).addTo(map).bindPopup(name);

    // CAR
    var car = L.circleMarker(r.coords,{
        radius:6,
        color:"white",
        fillColor:"white",
        fillOpacity:1
    }).addTo(map);

    moveCar(car,r.coords);
}

// 🚗 ANIMATION
function moveCar(marker,coords){
    let lat = coords[0];
    let lng = coords[1];

    setInterval(function(){
        lat += (Math.random()-0.5)*0.002;
        lng += (Math.random()-0.5)*0.002;
        marker.setLatLng([lat,lng]);
    },500);
}

// 🔊 SOUND
setInterval(function(){
    document.getElementById("beep").play();
},8000);

// AUTO REFRESH
setTimeout(function(){
    location.reload();
},15000);

</script>

</body>
</html>
