<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='nasa.css') }}">
</head>
<body style="background:url('{{ url_for('static', filename='bg.jpg') }}'); background-size:cover;">

<div style="text-align:center; margin-top:200px;">
<h1>🚦 AI TRAFFIC CONTROL</h1>

<form method="POST">
<input name="user" placeholder="Operator Name" required
style="padding:15px;font-size:18px;">
<br><br>
<button style="padding:15px 40px;font-size:18px;">ENTER SYSTEM</button>
</form>
</div>

</body>
</html>
